{% load static %}

<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/variwide.js"></script>

<script src="{% static 'apps/js/utils.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/preloader.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/header.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/about.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/page-tags.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/page-tags-stats.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/footer.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/app.js' %}" type="text/babel"></script>
<script src="{% static 'apps/js/main.js' %}" type="text/babel"></script>